
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

i{
    margin: 0 6px;
}

h1, h2, h, h4{
    margin: 0;
    font-weight: 300;
}

body{
    font-family: 'Roboto', sans-serif;
    
}

p{

    color: var(--gray); 
    font-weight: 300;
    font-size: 1.2rem;
}

iframe{
    width: 100%;
}

span{
    font-weight: 300;
    font-size: 1.2rem;;
    color: var(--gray);
  }

/* NAVBAR */

.nav-link{
    transition: all .5s;
}

#navbar-links{
    justify-content: center;
}


/* IMAGE TITLE */

.container-fluid{
    padding: 0;
}

.title-image{
    background-image: url(/imgs/carousel1.png);
    background-position: center;
    height: 700px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-image img{
    max-width: 20%;
}

.title-image h2{
    text-align: center;
    line-height: 3rem;
    margin: 5px 10px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: var(--light);
    background-color: var(--primary);
    padding: 10px 20px;
}

@media only screen and (max-width: 600px) {
     .title-image{
    background-image: url(/imgs/carousel1.png);
    background-position: center;
    height: 80vh;
    }

    .title-image img{
        max-width: 50%;
    }
    

    .title-image h2{
        margin: 5px 50px;
        padding: 5px;
        font-size: 3rem;
        padding: 0;
    }
  }




/* CHOOSE US */

.choose-us{
    padding: 20px;
    text-align: center;
}

.choose-us.title h3{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    margin: 10px;
    color: var(--primary);
}

.choose-us img{
    max-width: 150px;
}

.choose-us.body{
    margin-top: -50px;
    flex-grow: 1;
    font-weight: 300;
    display: flex;
    flex-direction: row;
}

.choose-us.body h4{
  text-transform: uppercase;
  color: var(--gray-dark);
}



@media (max-width: 891px) {
    .choose-us.body{
        flex-wrap: wrap;
    }
}

/* LOCALIZATION */

.localization{
    height: 500px;
    font-weight: 300;
    background-color: rgb(243, 243, 243);
    margin: 20px auto;
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    text-align: center;
    align-items: flex-start;
    row-gap: 10px;
}

.map{
    grid-row: 1/6;
    grid-column: 1/5;
}

.find-us{
    margin-top: 10px;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 400;
    align-self: flex-end;
    grid-column: 5 / 7;
    grid-row: 1 / 2;
}

.adress{
    margin-top: 5px;
    grid-column: 5 / 7;
    grid-row: 2 /3;
}

.phone{
    margin-top: 5px;
    gap: 10px;
    grid-column: 5 / 7;
    grid-row: 3/4;
}

.hour{
    margin-top: 5px;
    grid-column: 5 / 7;
    grid-row:4/5 ;
}

.localization i{
    font-size: 1.5rem;
    margin: 10px 0;
    display: block;
    color: var(--primary);
}

.localization span{
    display: block;
}

@media (max-width: 890px) {
    .localization{
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        justify-items: center;
        text-align: center;
        align-items: center;
        padding-bottom: 10px;
    }

    .find-us{
        align-self: center;
    }
}


/* BRANDS SERVICED */

.serviced{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.serviced div{
    margin: 10px;
}

.car-brands{
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.car-brands h2{
    text-transform: uppercase;
    color: var(--primary);
    margin: 10px;
}

.car-brands.brands i{
    color: var(--primary);
}

.car-brands.brands{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.car-brands.brands div{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 10px;
}

@media (min-width: 890px) {

    .serviced{
        margin: 40px auto;
        display: flex;
        align-items: center;
        flex-direction:row;
    }

    .car-brands{
        margin-left: 40px;
    }

    .car-brands.brands{
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
    
    }

}




