@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root {
    --primary: #4c9df3;
    --gray: #a1a4a7;
    --gray-dark: #101113;
    --medium-dark: #343a40;
}

i {
    margin: 0 6px;
}

h1,
h2,
h,
h4 {
    margin: 0;
    font-weight: 300;
    padding: 10;
    text-transform: uppercase;
    color: var(--primary);
}

h5 {
    text-transform: uppercase;
    color: var(--gray);
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    background-color: var(--gray-dark);
}

p {
    color: var(--gray);
    font-weight: 300;
    font-size: 1.3rem;
}

iframe {
    width: 100%;
}

span {
    font-weight: 300;
    font-size: 1.1rem;
    ;
    color: var(--gray);
}


/* NAVBAR */

.nav-link {
    transition: all .5s;
}

#navbar-links {
    justify-content: center;
}


/* IMAGE TITLE */

.container-fluid {
    padding: 0;
}

.title-image {
    background-image: url(/imgs/carousel1.png);
    background-position: center;
    height: 70vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.title-image img {
    max-width: 25%;
}

.title-image h1 {
    text-align: center;
    line-height: 3rem;
    margin: 5px 10px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: var(--gray);
    background-color: var(--primary);
    padding: 15px 20px;
}

@media only screen and (max-width: 600px) {
    .title-image {
        background-image: url(/imgs/carousel1.png);
        background-position: center;
        height: 80vh;
    }
    .title-image img {
        max-width: 70%;
    }
    .title-image h1 {
        margin: 10px 50px;
        padding: 5px;
        font-size: 3rem;
    }
}


/* CHOOSE US */

.choose-us {
    padding: 10px;
    text-align: center;
}

.choose-us.engine {
    padding: 5px;
}

.choose-us.title h2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    margin: 10px;
    color: var(--primary);
}

.choose-us.title h2:after {
    content: '';
    display: block;
    width: 230px;
    height: 2px;
    background: var(--primary);
    margin: 5px auto;
}

.choose-us img {
    margin: 0;
    max-width: 150px;
}

.choose-us.body {
    margin-top: -50px;
    flex-grow: 1;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.choose-us.body h4 {
    text-transform: uppercase;
    color: var(--gray);
}

@media (min-width: 891px) {
    .choose-us.title p {
        margin: 0 auto;
        width: 60%;
    }
    .choose-us.body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 0;
    }
    .choose-us.engine {
        margin: 0 20px;
    }
}


/* LOCALIZATION */

.localization {
    height: 500px;
    font-weight: 300;
    background-color: var(--medium-dark);
    margin: 20px auto 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    text-align: center;
    align-items: flex-start;
    row-gap: 10px;
}

.map {
    grid-row: 1/6;
    grid-column: 1/5;
}

.find-us {
    margin-top: 10px;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 400;
    align-self: flex-end;
    grid-column: 5 / 7;
    grid-row: 1 / 2;
}

.adress {
    margin-top: 5px;
    grid-column: 5 / 7;
    grid-row: 2 /3;
}

.phone {
    margin-top: 5px;
    gap: 10px;
    grid-column: 5 / 7;
    grid-row: 3/4;
}

.hour {
    margin-top: 5px;
    grid-column: 5 / 7;
    grid-row: 4/5;
}

.localization i {
    font-size: 1.5rem;
    margin: 10px 0;
    display: block;
    color: var(--primary);
}

.localization span {
    display: block;
}

@media (max-width: 890px) {
    .localization {
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 20px auto 0;
        justify-items: center;
        text-align: center;
        align-items: center;
        padding-bottom: 10px;
    }
    .find-us {
        align-self: center;
    }
}


/* BRANDS SERVICED */

.serviced.container-sm {
    padding: 10px;
    margin: 0px auto;
}

.serviced {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.serviced-photo {
    width: 100%;
}

.serviced-photo img {
    max-width: 100%;
}

.car-brands {
    margin: 0 auto;
    max-width: 90%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.car-brands h2 {
    text-transform: uppercase;
    color: var(--primary);
    padding: 10px;
}

.car-brands h2:after {
    content: '';
    display: block;
    width: 250px;
    height: 2px;
    background: var(--primary);
    margin: 5px auto;
}

.car-brands.brands i {
    color: var(--primary);
}

.car-brands.brands {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.car-brands.brands div {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0;
    margin-right: 10px;
}

@media (min-width: 890px) {
    .serviced.serviced.container-sm {
        padding: 10px;
        margin: 20px auto;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .serviced div {
        margin: 30px 10px;
    }
    .car-brands h2 {
        margin: 20px;
    }
    .car-brands {
        margin-left: 40px;
    }
    .car-brands.brands {
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
    }
}


/* OUR SERVICES */

.services {
    margin: 20px auto;
    padding: 10px;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.services h2 {
    padding: 10px;
    margin-top: 20px;
}

.services h2:after {
    content: '';
    display: block;
    width: 180px;
    height: 2px;
    background: var(--primary);
    margin: 5px auto;
}

.services-list {
    display: flex;
    flex-direction: column;
}

.services-list-itens {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-list-itens h5 {
    font-size: 1.1rem;
    margin-top: 30px;
}

.services-list-itens img {
    margin-top: 20px;
    max-width: 80px;
    max-height: 80px;
}

.services-list-itens p {
    font-size: 1.1rem;
    grid-row: 2/3;
    grid-column: 2/3;
}

@media (min-width: 890px) {
    .services {
        margin: 20px auto;
        padding: 0;
    }
    .services h2 {
        margin: 20px 0 -20px;
    }
    .services.container p:nth-child(2) {
        max-width: 60%;
        margin: 0 auto;
    }
    .services-list {
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .services-list-itens {
        margin: 0 auto 30px;
        width: 30%;
    }

    .services-list-itens.battery{
        margin-right: -20px;
    }
    .services-list-itens.engine{
        margin-left: -20px;
    }
}


/* FEEDBACKS */

.feedbacks {
    padding: 10px;
    overflow: hidden;
    width: 100%;
    background-image: url(/imgs/feedbacks.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin: 20px auto;
    text-shadow: 1px 1px 1px #000000;
}

.feedbacks i {
    display: none;
}

.feedbacks p {
    color: var(--light);
    width: 70%;
    margin: 5px auto;
    font-size: 1.2rem;
    font-style: italic;
    line-height: 1.8rem;
}

.feedbacks span {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--light);
    text-decoration: underline;
}

@media (min-width: 890px) {
    .feedbacks.container-fluid {
        padding: 0 20px;
        margin: 20px auto;
    }
    .carousel-item {
        margin: 50px auto;
    }
    .feedbacks i {
        display: block;
        color: var(--light);
        font-size: 5rem;
    }
    .feedbacks p {
        width: 40%;
        line-height: 2.3rem;
        margin: 10px auto;
        font-size: 1.3rem
    }
}


/* AUTOSEVICES */

.autoservice.container-sm {
    width: 100%;
    padding: 10px;
    margin: 40px auto;
    text-align: center;
}

.autoservice h2 p {
    max-width: 80%;
    margin: 0 auto;
}

.autoservice h2:after {
    content: '';
    display: block;
    width: 270px;
    height: 2px;
    background: var(--primary);
    margin: 5px auto;
}

.autoservice-images {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

.autoservice img {
    margin: 0 auto;
    max-width: 80%;
}

.autoservice-images span {
    margin: -5px auto;
    text-transform: uppercase;
    color: var(--gray-dark);
    font-weight: 400;
    width: 80%;
    padding: 0 40px;
    font-size: 1.4rem;
    background-color: #c9c9c9;
}

.autoservice-images i {
    color: var(--primary);
    margin-right: 40px;
}

@media (min-width: 890px) {
    .autoservice h2 {
        margin: 20px;
    }
    .autoservice p {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .autoservice-services {
        display: inline-flex;
        flex-direction: row;
        flex-shrink: 0;
    }
    .autoservice-images {
        margin: 0 -53px;
        padding: 0;
    }
    .autoservice-images i {
        margin-right: 20px;
    }
}


/* CONTACT US */

#contact-area {
    text-align: center;
    margin-top: 50px;
}

.main-title:after {
    content: '';
    display: block;
    width: 160px;
    height: 2px;
    background: var(--primary);
    margin: 5px auto;
}

.main-title {
    padding: 10px;
}

.contact-box {
    padding: 10px;
}

.contact-box i {
    color: var(--primary);
    font-size: 2.5rem;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    line-height: 75px;
    border: 1px solid var(--info);
}

.contact-box span {
    display: block;
    padding: 5px;
    font-weight: bold;
    font-size: 1.2rem;
}

.contact-box p {
    font-size: 1.2rem;
}

.contact-link i {
    transition: all .7s;
}

.contact-link i:hover {
    color: var(--light);
    background-color: var(--primary);
}


/* INSTAGRAM */

.instagram h2 {
    text-align: center;
    padding: 10px;
    margin: 20px auto;
}

.instagram h2:after {
    content: '';
    display: block;
    width: 270px;
    height: 2px;
    background: var(--primary);
    margin: 5px auto;
}


/* FOOTER */

.footer.container-fluid {
    text-align: center;
    background-color: var(--medium-dark);
    margin: 50px auto 0;
    padding: 15px;
    bottom: 0;
}

.footer.container-sm {
    margin: 0 auto;
    color: var(--gray);
}

#msg-box {
    padding: 10px;
    margin-top: 5px;
}

#msg-box-text {
    padding: 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
}

#contact-hour {
    padding: 10px;
}

#contact-hour span {
    margin: 5px;
    display: block;
}

.form-control {
    margin-bottom: 15px;
    border-radius: 5px;
    width: 100%
}

#contact-form .main-btn {
    width: 120px;
    height: 50px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    background-color: transparent;
    color: var(--primary);
}

#contact-form .main-btn:hover {
    border: 1px solid #00aeff;
    color: #00aeff;
    background-color: #22313f;
}

@media (min-width: 890px) {
    .footer.container-fluid {
        text-align: left;
    }
    .form-control {
        margin-bottom: 15px;
        border-radius: 5px;
        width: 300px
    }
    #msg-box-text {
        text-align: right;
    }
}

#copyright {
    text-align: center;
    padding: 5px;
    font-size: 10px !important;
    bottom: 0;
    width: 100%;
    margin: 0;
    background-color: var(--gray-dark);
}

#copyright span {
    font-size: 13px;
    transition: all .6s;
}